@font-face {
	font-family: "Swiss";
	src: url("../font/swiss.woff2");
}

@font-face {
	font-family: "Mono";
	src: url(../font/RobotoMono-VariableFont_wght.ttf);
}

*, *::after, *::before {
	box-sizing: border-box;  
	padding: 0;
	margin: 0;
}

:root {
	--color-text: #014538;
	--color-background: #eee;
	--title-font: "Swiss";
	--body-font: "Mono";
	--footer: rgb(223 254 49);
}

body {
	color: var(--color-text);
	font-family: var(--body-font);
}

h1 {
	font-family: var(--title-font), 'arial';
	font-weight: 300;
	font-size: 5.5rem;
	letter-spacing: -0.03em;
}

h1 > ul {
	margin: 0 auto;
	padding: 100px 40px;
	line-height: 65px;
}

sup {
	font-size: 0.5em;
}

h2, h3, figcaption {
	font-family: var(--title-font), 'arial';
	margin: 25px 0;
}

ul {
	list-style: none;
}

li {
	display: inline;
}

a {
	color: var(--color-text);
	font-family: var(--title-font);
	text-decoration: none;
}

section {
	padding: 0 30px; 
}

.hero {
	display: flex;
	font-size: 12px;
	padding: 40px 0;
}

.four-col-grid {
	display: grid;
	column-gap: 30px;
	row-gap: 20px;
	grid-template-columns: auto auto auto auto;
}

img {
	width: 20em;
	height: auto;
}

footer {
	background-color: var(--footer);
}
