*, *::after, *::before {
  box-sizing:border-box;  
}

:root {
	--color-text: rgb(0, 49, 40);
	--color-background: #eee;
	--footer: rgb(223 254 49);
}

body {
	color: var(--color-text);
}

ul {
	list-style: none;
}

footer {
	background-color: var(--footer);
}